.mole-container {
    display: flex;
    flex-flow: row wrap;
  }
  .mole {
    height: 100px;
    width: 100px;
    flex-basis: calc(20% - 10px);
    flex-grow: 1;
    border: 1px solid black;
  }

  header {
    display: flex;
    flex-flow: row nowrap;
  }
  .counter-text-container {
    flex-basis: 33%;
    flex-grow: 1;
  }
  .start-container {
    flex-basis: 33%;
    flex-grow: 1;
    text-align: center;
  }
  .radio-container {
    display: flex;
    flex-basis: 33%;
    flex-grow: 1;
    justify-content: center;
  }
  button {
    width: 50%;
    height: 90%;
  }